/assets/images (1).png
/copies
/assets/imgs/backgroundimgdraft.png
/assets/imgs/bkgchess.png
/assets/imgs/circle-svgrepo-com.svg
/assets/imgs/circle.svg
/assets/imgs/MarkustOutrun.clip
/assets/imgs/icons.psd