/assets/images (1).png
/copies
/assets/imgs/backgroundimg.png
/assets/imgs/bkgchess.png
/assets/imgs/circle-svgrepo-com.svg
/assets/imgs/circle.svg
/assets/imgs/MarkustOutrun.clip
/assets/imgs/icons.psd
/assets/imgs/backgroundimg.clip 
/assets/imgs/Game-boy-FL.jpg
/assets/imgs/illustration2.clip


