:root {
  font-family: sans-serif;
  color: black;
  --main-Color: #a653f5;
  --secondary-Color: #8f8cf2;
  --accent-Color: #65b8bf;
  --tert-Color: #f96cff;
  --quad-Color: #fcbefd;
}

@font-face {
  font-family: "Windows-Regular";
  src: url(./assets/fonts/Windows\ Regular.ttf);
}

body {
  background-color: var(--quad-Color);
  background-image: url(./assets/imgs/backgroundimgdraft.png);
  background-repeat: repeat-x;
  background-position: 50%;
  background-attachment: fixed;
  margin: 0;
  position: relative;
}

.stopScroll {
  overflow: hidden;
}

/* Header */
header {
  background-color: var(--quad-Color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#headerFlex {
  display: flex;
  align-items: center;
}
#headerFlex p {
  margin-right: 1rem;
}

#headerName {
  width: 8rem;
}

.dropMenu {
  position: relative;
  display: inline-block;
}

.dropBtn {
  border: none;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  font-size: 1.5rem;
  color: var(--accent-Color);
}

.dropContent {
  display: none;
  position: absolute;
  min-width: 8rem;
  z-index: 1;
  color: black;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff,
    inset -2px -2px #808080, inset 2px 2px #dfdfdf;
  background: #c0c0c0;
  padding: 3px;
}

.dropContent a {
  display: block;
  padding: 0.2rem;
  color: white;
  text-decoration: none;
}

.dropMenu:hover .dropContent {
  display: block;
}

@media (min-width: 885px) {
  .dropBtn {
    display: none;
  }
  .dropContent {
    display: flex;
    position: static;
    min-width: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  .dropMenu:hover .dropContent {
    display: flex;
  }
  .dropContent a {
    padding: 2rem;
    font-size: 1.2rem;
    position: relative;
  }
  .dropContent a::after {
    content: "";
    background: white;
    position: absolute;
    top: 50%;
    left: 100%;
    height: 50%;
    width: 1px;
    transform: translateY(-50%);
  }
  .dropContent a:hover {
    color: var(--accent-Color);
  }
  #headerContainer {
    position: relative;
  }
  #headerItem::before {
    content: "";
    background: white;
    position: absolute;
    top: -15%;
    right: 100%;
    height: 65%;
    width: 1px;
    transform: translateY(50%);
  }
  #hideWhenBig {
    display: none;
  }
}
/* Main */

main {
  margin: 1rem;
  font-family: "Windows-Regular";
}

/* CodeSection */
.codeSection {
  display: flex;
  justify-content: center;
  margin: 4rem 0rem 8rem;
}

.codeWindow {
  width: 100%;
  height: 100%;
  color: black;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff,
    inset -2px -2px #808080, inset 2px 2px #dfdfdf;
  background: #c0c0c0;
  padding: 3px;
  font-family: "Windows-Regular";
}

.codeWindow p {
  margin: 0.5rem;
}

.windowName {
  background: linear-gradient(90deg, #5c0080, #5310d0);
  padding: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  color: white;
}

.mini {
  background-image: url(./assets/imgs/icons/minimize-icon.PNG);
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: bottom 0px left 0px;
  background-size: contain;
}

.maxi {
  background-image: url(./assets/imgs/icons/maximize-icon.PNG);
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: bottom 0px left 0px;
  background-size: contain;
}

.Xbtn {
  background-image: url(./assets/imgs/icons/close-icon.PNG);
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: bottom 0px left 0px;
  background-size: contain;
}

ul {
  list-style-type: square;
}

.noMarg {
  margin: 0 0.4rem;
}

.noDot {
  list-style: none;
}
@media (min-width: 786px) {
  #meFlex {
    display: flex;
    justify-content: flex-start;
  }
}

/* Contact Form */
form {
  margin: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
}

#sendBtn {
  font-family: "Windows-Regular";
  margin: 0.3rem 0.3rem 0rem;
  box-sizing: border-box;
  border: none;
  background: #c0c0c0;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff,
    inset -2px -2px #808080, inset 2px 2px #dfdfdf;
  border-radius: 0;
  width: 75px;
  height: 23px;
  padding: 0 12px;
}
/* Socials  */
#socials {
  display: flex;
  justify-content: center;
}

.fa-brands {
  font-size: 2rem;
  margin: 0.5rem;
}

@media (min-width: 786px) {
  .fa-brands {
    font-size: 5rem;
    margin: 1rem;
  }
}
/* Splash Screen */
#screencover {
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: absolute;
  top: 0%;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff,
  inset -2px -2px #808080, inset 2px 2px #dfdfdf;
background: #c0c0c0;
  /* Change to Flex */
}

@media (min-width:768px) {
  #splashText {
    margin-right: .3rem;
  }
  #screencover {
    background-image: url(./assets/imgs/splashback.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50%;
  } 
  #splashanim {
    background-image: url(./assets/imgs/beachhouse.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50%;
  }
   
} 
#splashanim {
  width: 60%;
  height: 60%;
  margin: 10% auto ;
  box-shadow: #0a0a0a34 3px 6px 3px 6px;
;
}
.simpleFlex {
  margin: 6rem 0 0;
    display: flex;
  flex-direction: column;
  align-items: center;
}

#smaller {
  width: 10rem;
}

.fadeout {
  animation: forwards fadeOut 2.5s;
}

.fadeoutFast {
  animation: forwards fadeOut .1s;
}

@keyframes fadeOut {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
